{{define "main"}}
  <section class="mb-3">
    {{partial "article.html" .}}
  </section>
  {{$page := .GetPage "actualités"}}
  {{ with $set := where $page.Pages.ByPublishDate.Reverse "ExpiryDate" "<" now }}
  <section class="mb-3">
    <h4 class="h5">Plus de contenu</h4>
    <ul>
    {{range first 10 $set}}
      {{if ne .File.UniqueID $.File.UniqueID}}
        <li><span>{{.PublishDate.Format "02/01"}}</span> &#8212; <a href="{{.Permalink}}" class="text-decoration-none">{{.Title}}</a></li>
      {{end}}
    {{end}}
    </ul>
  </section>
  {{end}}
{{end}}
