{{define "style"}}
<link rel="stylesheet" href="/css/ap.css"/>
{{end}}
{{define "main"}}
  {{partial "breadcrumb.html" .}}
  <header class="mb-3">
    <h1 class="h3">{{.Title}}</h1>
  </header>
  {{with .Description}}
  <div class="page-desc">
    <p>{{.Description}}</p>
  </div>
  {{end}}
  <div>
    {{.Content}}
  </div>
  <div class="w-100 my-5"></div>
  {{ $all := slice (slice "repr.md" "fonc.md") (slice "actions.md" "finances.md")}}
  {{range $grp := $all}}
  <div class="row mb-3">
    {{range $grp}}
    <div class="col-12 col-lg-6 mb-2">
      <div class="card h-100">
        <div class="card-body">
          {{with $.GetPage . }}
          <h4 class="card-title text-center">{{.Title}}</h4>
          {{.Content}}
          {{end}}
        </div>
      </div>
    </div>
    {{end}}
  </div>
  {{end}}
{{end}}

{{ define "aside"}}
{{partial "toc" .}}
{{partial "apropos" .}}
{{partial "latest" .}}
{{partial "tags" .}}
{{end}}
