{{define "main"}}
{{partial "breadcrumb.html" .}}
<header class="mb-3">
  <h1 class="h3">{{.Title}}</h1>
</header>

{{ $res := .Resources.GetMatch "list.toml" | transform.Unmarshal }}
{{with $res.Address}}
<div class="row row-cols-1">
  {{range .}}
  <div class="col-lg-6 col-12">
    <div class="card border-0">
      <img src="{{.image}}" class="card-img-top">
      <address class="card-body text-center">
        <p class="mb-1">{{.street}}</p>
        <p class="mb-1">{{.zipcode}}, {{.town}}</p>
      </address>
    </div>
  </div>
  {{end}}
</div>
{{end}}

{{with $res.Contact}}
<div class="w-75 mx-auto">
  {{range .}}
  <div class="card border-0">
    <address class="card-body py-1">
      <h1 class="h4 card-title">{{.name}} ({{.role}})</h1>
      <dl class="row">
        <dt class="col-4">e-mail</dt>
        <dd class="col-8">{{.email}}</dd>
        {{if .phone}}
        <dt class="col-4">téléphone</dt>
        <dd class="col-8">{{.phone}}</dd>
        {{end}}
      </dl>
    </address>
  </div>
  {{end}}
</div>
{{end}}
{{end}}

{{ define "aside"}}
{{partial "toc" .}}
{{partial "apropos" .}}
{{partial "latest" .}}
{{partial "tags" .}}
{{end}}
