<div class="row justify-content-center">
  {{range $i, $d := .}}
      <div class="col-md-4 col-lg-4 col-sm-1">
        <div class="card mb-3 border-0" style="min-height:240px">
          {{if $d.image}}
            <img src="images/{{$d.image}}" class="card-img" alt="">
          {{end}}
          {{if not $d.image}}
          <div class="card-body d-flex flex-column justify-content-center">
            <h5 class="card-title text-center">{{$d.name}}</h5>
            <div class="align-self-center">
              <i class="bi bi-file-pdf" style="font-size:70px"></i>
            </div>
          </div>
          {{end}}
          <div class="card-body py-2 d-flex align-items-end text-center card-img-overlay">
            {{if $d.location}}
            <a href="{{$d.location}}" class="btn stretched-link mx-auto btn-outline-tag" target="_blank">
              <span>ouvrir</span>
            </a>
            {{end}}
          </div>
        </div>
      </div>
  {{end}}
</div>