{{ with $page := .GetPage "actualités" }}
{{ $set := where $page.Pages.ByPublishDate.Reverse "ExpiryDate" ">=" "now" }}
{{ if ge (len $set) 4 }}
<div class="p-2">
  <div class="container">
    <section class="card-group" id="latest-news">
      {{ range first 4 $set }}
      <article class="card border-0 text-center">
        <h3 class="h5 m-0">
          <a href="{{$page.Permalink}}#{{.File.UniqueID}}" class="text-decoration-none text-white">
            <span>{{.Title}}</span>
          </a>
        </h3>
        <p class="text-center published text-white">
          <small class="fst-italic">publié le {{dateFormat "02-01-2006" .Date }}</small>
        </p>
      </article>
      {{ end }}
    </section>
    {{ end }}
  </div>
</div>
{{ end }}
