<div class="col-12 col-lg-8 mb-3">
  <h3 class="h5">les dernières actualités</h3>
  {{$page := .GetPage "actualités"}}
  {{with $list := first 10 (where $page.Pages.ByPublishDate.Reverse "ExpiryDate" ">=" "now")}}
  <ul class="list-group">
    {{range $list}}
    <li>{{.PublishDate}}: <a href="{{$page.Permalink}}#{{.File.UniqueID}}">{{.Title}}</a>
    {{end}}
  </ul>
  {{else}}
    <p>tout va bien! vous n'avez rien raté!</p>
    {{$page := .GetPage "archives"}}
    <p>n'hésitez pas à découvrir et/ou redécouvrir nos <a href="{{$page.Permalink}}">archives</a></p>
  {{end}}
</div>
