{{ $curr := .}}
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light border-bottom p-1">
  <div class="container">
    <a class="navbar-brand" href="{{.Site.Home.Permalink}}">
      <img src="/images/logo.png" alt="" width="25" height="30" class="d-inline-block align-text-top" style="position:relative; top:-5px">
      <span class="ms-2" id="isja-title">{{.Site.Title}}</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#isjaNav" aria-controls="isjaNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="isjaNav">
      <ul class="navbar-nav ms-auto">
        {{ range .Site.Menus.main }}
        <li class="nav-item {{if .Page.Params.dropdown}}dropdown{{end}}">
          <a href="{{.Page.Permalink}}" class="nav-link {{if .Page.Params.dropdown}}dropdown-toggle{{end}}" {{if .Page.Params.dropdown}}role="button" data-bs-toggle="dropdown" aria-expanded="false"{{end}}>
            <span>{{ .Name }}</span>
          </a>
          {{if .Page.Params.dropdown}}
          <ul class="dropdown-menu">
            {{range .Page.Pages}}
            {{ if not .Params.dummy }}
            <li>
              <a href="{{.Permalink}}" class="dropdown-item">{{.Title}}</a>
            </li>
            {{end}}
            {{end}}
          </ul>
          {{end}}
        </li>
        {{ end }}
        {{with $.Site.Params.facebook}}
        <li class="nav-item">
          <a href="{{.}}" class="nav-link" target="_blank">
            <img src="/images/icons/facebook.svg" height="24"/>
          </a>
        </li>
        {{end}}
      </ul>
    </div>
  </div>
</nav>
