{{ $curr := .}}
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light border-bottom p-1">
  <div class="container">
    <a class="navbar-brand" href="{{.Site.Home.Permalink}}">
      <img src="/images/logo.png" alt="" width="25" height="30" class="d-inline-block align-text-top" style="position:relative; top:-5px">
      <span class="ms-2">{{.Site.Title}}</span>
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        {{ range .Site.Menus.main }}
        <li class="nav-item {{if .Page.Params.dropdown}}dropdown{{end}}">
          <a href="{{.Page.Permalink}}" class="nav-link {{if .Page.Params.dropdown}}dropdown-toggle{{end}}" {{if .Page.Params.dropdown}}role="button" data-bs-toggle="dropdown" aria-expanded="false"{{end}}>
            <span>{{ .Name }}</span>
          </a>
          {{if .Page.Params.dropdown}}
          <ul class="dropdown-menu">
            {{range .Page.Pages}}
            {{ if not .Params.dummy }}
            <li>
              <a href="{{.Permalink}}" class="dropdown-item">{{.Title}}</a>
            </li>
            {{end}}
            {{end}}
          </ul>
          {{end}}
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
