{{ define "body" }}
  {{ with $page := .GetPage "actualités" }}
  <section class="mb-5 card-group">
    {{ range first 4 $page.Pages.ByPublishDate.Reverse }}
    <article class="card border-0 text-center">
      <h3 class="h5 m-0">
        <a href="{{$page.Permalink}}#{{.File.UniqueID}}" class="text-decoration-none">
          <span>{{.Title}}</span>
        </a>
      </h3>
      <p class="text-muted text-center">
        <small class="fst-italic">publié le {{dateFormat "02-01-2006" .Date }}</small>
      </p>
    </article>
    {{ end }}
  </section>
  {{ end }}
  <section>
  {{ range $i, $p := .Pages }}
    {{ if $p.Params.home }}
      {{ if gt $i 0 }}
      <hr class="w-25 mx-auto my-5">
      {{ end }}
      <article class="row align-items-center text-center">
        <div class="col-6">
          <div class="text-center">
            <a href="{{$p.Permalink}}" class="text-reset text-decoration-none">
              <h1><em>{{ $p.Title }}</em></h1>
            </a>
          </div>
        </div>
        <div class="col-6 {{if eq (mod $i 2) 0 }}order-first{{end}}">
          <figure>
            {{if $p.Params.imglink}}
              <img src="{{$p.Params.imglink}}" width="420">
            {{end}}
          </figure>
        </div>
      </article>
    {{ end }}
  {{ end }}
  </section>
{{ end }}
