{{define "main"}}
{{partial "breadcrumb.html" .}}
<header class="mb-3">
  <h1 class="h3">{{.Title}}</h1>
</header>
{{$list := .Resources.GetMatch "list.toml" | transform.Unmarshal}}
{{range $list.partner}}
<section>
  <h2>{{.name}}{{if .abbr}} ({{.abbr}}){{end}}</h2>
  <div>{{.desc | safeHTML}}</div>
</pre>
  {{if .link }}<p>plus d'information sur <a href="{{.link}}">{{.link}}</a></p>{{end}}
</section>
{{end}}
{{end}}

{{ define "aside"}}
{{partial "toc" .}}
{{partial "apropos" .}}
{{partial "latest" .}}
{{partial "tags" .}}
{{end}}
