{{ with $info := .Get "info" }}
  {{ with $data := index $.Site.Data $info }}
    {{ partial "gmap.html" (dict "place" $data.place "ctx" $)}}
    <dl class="row">
      {{ with $addr := index $data "address"}}
      <dt class="col-3">addresse</dt>
      <dd class="col-9">{{ $addr }}</dd>
      {{ end }}
      {{ with $phone := index $data "phone"}}
      <dt class="col-3">téléphone</dt>
      <dd class="col-9">{{ $phone }}</dd>
      {{ end }}
      {{ with $email := index $data "email"}}
      <dt class="col-3">e-mail</dt>
      <dd class="col-9">{{ $email }}</dd>
      {{ end }}
    </dl>
    {{ with $teachers := index $data "teachers"}}
      <table class="table">
        <tbody>
          {{ range index $teachers}}
          <tr>
            <th>{{.name}}</th>
            <td>{{.class}} {{.section}}</td>
            <td>{{.email}}</td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    {{ end }}
  {{end}}
{{ end }}
