<div class="w-75 m-auto">
<table class="table table-bordered">
  <thead class="text-center">
    <tr>
      <th width="20%"></th>
      <th class="bg-info align-middle" width="40%">Lundi, Mardi, Jeudi, Vendredi</th>
      <th class="bg-info align-middle" width="40%">Mecredi</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <tr>
      <th class="bg-info">8h25</th>
      <td>Cours 1</td>
      <td>Cours 1</td>
    </tr>
    <tr>
      <th class="bg-info">9h15</th>
      <td>Cours 2</td>
      <td>Cours 2</td>
    </tr>
    <tr>
      <th class="bg-info">10h05</th>
      <td class="bg-warning" colspan="2">Récréaction</td>
    </tr>
    <tr>
      <th class="bg-info">10h20</th>
      <td>Cours 3</td>
      <td>Cours 3</td>
    </tr>
    <tr>
      <th class="bg-info">11h10</th>
      <td>Cours 4</td>
      <td>Cours 4</td>
    </tr>
    <tr>
      <th class="bg-info">12h00</th>
      <td class="bg-warning">Temps de midi</td>
      <td class="bg-warning">Fin des Cours</td>
    </tr>
    <tr>
      <th class="bg-info">13h25</th>
      <td>Cours 5</td>
      <td rowspan="4" class="align-middle">Garderie</td>
    </tr>
    <tr>
      <th class="bg-info">14h15</th>
      <td>Cours 6</td>
    </tr>
    <tr>
      <th class="bg-info">15h05</th>
      <td>Fin des Cours</td>
    </tr>
    <tr>
      <th class="bg-info">15h30</th>
      <td>Etude</td>
    </tr>
    <tr>
      <th class="bg-info">18h</th>
      <td class="bg-warning" colspan="2">Fin</td>
    </tr>
  </tbody>
</table>
</div>
