{{ with $team := $.Site.Data.team }}
<div class="row mb-3">
  <h5 class="text-center">Maternelles</h5>
  {{range $team.Maternelles}}
  <div class="col-6">
    <table class="table table-sm">
      <thead>
        <tr>
          <th colspan="2" class="text-center text-capitalize">{{.location}}</th>
        </tr>
      </thead>
      <tbody>
        {{range .team}}
        <tr>
          <th>{{.class}}
          </th>
          <td>
            <ul class="list-unstyled">
              {{range .names}}
                <li>{{.}}</li>
              {{end}}
            </ul>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
  {{end}}
</div>
<div class="row">
  <h5 class="text-center">Primaires</h5>
  {{range $team.Primaires}}
  <div class="col-6">
    <table class="table table-sm">
      <thead>
        <tr>
          <th colspan="2" class="text-center text-capitalize">{{.location}}</th>
        </tr>
      </thead>
      <tbody>
        {{range .team}}
        <tr>
          <th>{{.class}}
          </th>
          <td>
            <ul class="list-unstyled">
              {{range .names}}
                <li>{{.}}</li>
              {{end}}
            </ul>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
  {{end}}
</div>
{{ end }}
